<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <h6>Dear {{ name }}, Your {{role}} account has been successfully created. You can now log in to your
        account.</h6>
        <table>
            <tr>
                <th>email</th>
                <td>Your Email Address</td>
            </tr>
            <th>password</th>
            <td>{{password}}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{clientUrl}}</td>
            </tr>
        </table>
</body>
</html>